.mermaid svg,
.wp-block-merpress-mermaidjs img {
	display: block;
	margin: auto;
}

.diagram-source-image > .mermaid,
.diagram-source-mermaid > img {
	display: none;
}

.mermaid-error {
	opacity: 0.5;
}
